<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
	<div >
		<a style="margin-right: 20px; width: 300px;height: 100px;" href="/account/logout" th:href="@{/account/logout}"><button>退出</button></a>
		<span style="margin-right: 20px; width: 300px;height: 100px;"  th:text="${session.login_user.adminUser.id + session.login_user.adminUser.name}"></span>
	</div>
		<div style="margin: 0 auto;margin-top: 300px;">
			<a  href="/goto/studentlist"><input id="student" type="button" value="学生管理"/></a>
			<a  href="/goto/teacherlist"><input id="teacher" type="button" value="教师管理"/></a>
			<a  href="/attendance"><input id="search" type="button" value="查看考勤"/></a>	
		</div>
		
	</body>
	<style>
		body{ text-align:center}
		#student{
			width: 100px;
			height: 50px;
		}
		#teacher{
			width: 100px;
			height: 50px;
		}
		#search{
			width: 100px;
			height: 50px;
		}
	</style>
	 
</html>
