<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title></title>
		<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div align="center" style="margin-top: 200px;">
			<form action="/getbackPassword" method="post">
				手机号 <input type="text"  name="phone"/>
				<input type="button" onclick="sendCode()" value="发送验证码"/><br />

				验证码<input type="text" name="code" /><br />
				新密码 <input type="text" name="newPassword"/><br />
				<input type="submit"  value="提交"/>
				<p th:text="${msg}" style="color:red"></p> &nbsp;
				<a href="/" th:href="@{/}">去登陆</a>
			</form>
		</div>
	</body>
	<script>
		function sendCode(){
			alert("start")
			$.ajax({
			type:"post",
			url:"/sendCode",
			async:true,
			data:{phone:$("#phone").val()},
		});
		alert("end")
		}
	</script>
</html>
