<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>修改学生信息</title>
	</head>
	<body>
	<div >
		<a style="margin-right: 20px; width: 300px;height: 100px;" href="/account/logout" th:href="@{/account/logout}"><button>退出</button></a>
		<span style="margin-right: 20px; width: 300px;height: 100px;"  th:text="${session.login_user.adminUser.id + session.login_user.adminUser.name}"></span>
	</div>
		<div id="div1">
			<div>
			<a href="/goto/studentlist">返回</a>
			</div>
			<form id="form1" action="/student/modify" method="post" th:object="${student}">
				学号：<input th:field="*{id}" type="text" name="id" readonly="true"/><br />
				班级：<select th:field="*{classroomId}" name="classroomId">
						<option value="2">软件132</option>
						<option value="3">软件131</option>
						<option value="4">软件133</option>
						<option value="5">计算131</option>
						<option value="6">金融131</option>
						<option value="7">金融132</option>
					</select> <br />

				姓名：<input th:field="*{name}" type="text" name="name"/><br />
				性别：<input th:field="*{sex}" type="radio" name="sex" value="0" checked="true" />男  <input th:field="*{sex}" type="radio" name="sex" value="1" />女            <br />
				密码：<input th:field="*{password}" type="text" name="password"/><br />
				手机号：<input th:field="*{phone}" type="text" name="phone"/><br />
				邮箱：<input th:field="*{email}" type="text" name="email"/><br />
				<button type="submit">修改</button><br />
			</form>
		</div>
		
		
	</body>
	<style>
		#div1{
			margin-left: 400px;
			margin-top: 100px;
		}
	</style>
</html>
