<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script src="js/jquery.js"></script>
</head>
<body>
<div>
    <div >
        <a style="margin-right: 20px; width: 300px;height: 100px;" href="/account/logout" th:href="@{/account/logout}"><button>退出</button></a>
        <span style="margin-right: 20px; width: 300px;height: 100px;"  th:text="${session.login_user.studentUser.id + session.login_user.studentUser.name}"></span>
    </div>
    <form class="form-horizontal" action="/student/course/list" method="post">
        <select style="width: 100px;height: 30px; margin-top: 10px; margin-left: 10px;" name="week">
            <option value="0">未选择</option>
            <option value="1">星期一</option>
            <option value="2">星期二</option>
            <option value="3">星期二</option>
            <option value="4">星期四</option>
            <option value="5">星期五</option>
        </select>
        <input type="submit" style="width: 100px; height: 40px; margin-left: 100px; margin-top: 10px;"  name="Button" value="查询" />
        <a th:href="@{/student/changePassword}">修改密码</a>&nbsp;
        <a th:href="@{/account/logout}">退出</a>
    </form>

</div>
<div>
    <span th:text="${msg}" style="width: 100px; height: 40px; margin-left: 200px; margin-top: 10px;">666</span>
</div>
<div style="margin-top: 50px;">
    <div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>班级名</th>
            <th>课程名</th>
            <th>教师名</th>
            <th>上课时间(第几节课)</th>
            <th>上课时间(周几)</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseList}">
            <td th:text="${course.classroomName}">Onions</td>
            <td th:text="${course.courseName}">Onions</td>
            <td th:text="${course.teacherName}">Onions</td>
            <td th:text="${course.courseTimeId}">2.41</td>
            <td th:text="${course.dayOfWeek}">Onions</td>
            <td ><a href="http://www.baidu.com" th:href="@{/student/course/detail(courseSchedulId=${course.courseSchedulId})}">详情</a></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>

</body>
</html>
