<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<div align="center" style="margin-top: 200px;">
			<form action="/student/changePassword" method="post">
			<span ></span>
			旧密码 <input type="text"  name="oldPassword"/><br />
			新密码 <input type="text" name="newPassword"/><br />
			新密码again <input type="text" name="newPasswordRepeat"/><br />
			<input type="submit"  value="提交"/>
				&nbsp;	<a th:href="@{/}">返回</a>
			<p th:text="${msg}" style="color:red"></p>
		</form>
		</div>
		
	</body>
</html>
