<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenbaoyong.attendance.dao.CourseListMapper">
  <resultMap id="BaseResultMap" type="com.shenbaoyong.attendance.pojo.CourseList">
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="classroom_name" jdbcType="VARCHAR" property="classroomName" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_time_id" jdbcType="VARCHAR" property="courseTimeId" />
    <result column="day_of_week" jdbcType="INTEGER" property="dayOfWeek" />
    <result column="course_schedul_id" jdbcType="INTEGER" property="courseSchedulId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    teacher_name, classroom_name, course_name, course_time_id, day_of_week, course_schedul_id
  </sql>
  <select id="selectByExample" parameterType="com.shenbaoyong.attendance.pojo.CourseListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from course_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.shenbaoyong.attendance.pojo.CourseListExample">
    delete from course_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shenbaoyong.attendance.pojo.CourseList">
    insert into course_list (teacher_name, classroom_name, course_name, 
      course_time_id, day_of_week, course_schedul_id
      )
    values (#{teacherName,jdbcType=VARCHAR}, #{classroomName,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, 
      #{courseTimeId,jdbcType=VARCHAR}, #{dayOfWeek,jdbcType=INTEGER}, #{courseSchedulId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shenbaoyong.attendance.pojo.CourseList">
    insert into course_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="classroomName != null">
        classroom_name,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseTimeId != null">
        course_time_id,
      </if>
      <if test="dayOfWeek != null">
        day_of_week,
      </if>
      <if test="courseSchedulId != null">
        course_schedul_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="classroomName != null">
        #{classroomName,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseTimeId != null">
        #{courseTimeId,jdbcType=VARCHAR},
      </if>
      <if test="dayOfWeek != null">
        #{dayOfWeek,jdbcType=INTEGER},
      </if>
      <if test="courseSchedulId != null">
        #{courseSchedulId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shenbaoyong.attendance.pojo.CourseListExample" resultType="java.lang.Long">
    select count(*) from course_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course_list
    <set>
      <if test="record.teacherName != null">
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.classroomName != null">
        classroom_name = #{record.classroomName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTimeId != null">
        course_time_id = #{record.courseTimeId,jdbcType=VARCHAR},
      </if>
      <if test="record.dayOfWeek != null">
        day_of_week = #{record.dayOfWeek,jdbcType=INTEGER},
      </if>
      <if test="record.courseSchedulId != null">
        course_schedul_id = #{record.courseSchedulId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course_list
    set teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      classroom_name = #{record.classroomName,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      course_time_id = #{record.courseTimeId,jdbcType=VARCHAR},
      day_of_week = #{record.dayOfWeek,jdbcType=INTEGER},
      course_schedul_id = #{record.courseSchedulId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>